<div class="editor-row">

    <div class="section gf-form-group">
        <h5 class="section-heading">Log</h5>
        <div class="gf-form" checked="ctrl.panel.log" on-change="ctrl.refresh()">
            <label for="check-log-show" class="gf-form-label width-7">show</label>
            <div class="gf-form-switch ">
                <input id="check-log-show" type="checkbox" ng-model="ctrl.panel.log" ng-change="ctrl.refresh()"
                    class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <label for="check-log-show" data-on="Yes" data-off="No"></label>
            </div>
        </div>

    </div>

</div>